<div class="stepper">
    <mat-horizontal-stepper #stepper>
        <mat-step [stepControl]="starterFormGroup">
          <form [formGroup]="starterFormGroup">
            <ng-template matStepLabel>Start your order</ng-template>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput placeholder="Name for the order" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Takeout or Delivery</mat-label>
                <mat-select>
                  <mat-option *ngFor="let option of deliveryOptions" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <div>
              <button mat-stroked-button color="primary" matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="orderFormGroup">
          <form [formGroup]="orderFormGroup">
            <ng-template matStepLabel>Customize your pizza</ng-template>
            <!-- What goes here? -->
            <div>
              <button mat-stroked-button color="accent" matStepperPrevious>Back</button>
              <button mat-stroked-button color="primary" matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Review your order</ng-template>
          <!-- What goes here? -->
          <div>
            <button mat-stroked-button color="accent" matStepperPrevious>Back</button>
            <button mat-stroked-button color="primary" (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
</div>